In [165]:
import numpy
import pandas
import sys

#setup
columnNames = ["Country", "People", "Area", "BIP", "Currency"]
url = 'https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv'
frame = pandas.read_csv(filepath_or_buffer=url, dtype=object, names=columnNames)
frame = frame.drop(0)
frame = frame.reset_index(drop=True)
print(frame)

    Country     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [166]:
#General information
print("Rows count: {0}".format(frame.shape[0]))
print("Columns count: {0}".format(frame.shape[1]))

Rows count: 5
Columns count: 5

In [167]:
#People data analysis
numPeopleColumn = pandas.to_numeric(frame[columnNames[1]])
print("The average people count {0}".format(numPeopleColumn.mean()))
print("The sum of people in these countries is: {0}".format(numPeopleColumn.sum()))
indexOfMax = numPeopleColumn.argmax()
print("The country with most people ({0}) is {1}".format(numPeopleColumn[indexOfMax], frame[columnNames[0]][indexOfMax]))

The average people count 102786293.6
The sum of people in these countries is: 513931468
The country with most people (208360000) is Brazilia

In [168]:
#Area data analysis
numAreaColumn = pandas.to_numeric(frame[columnNames[2]])
print("The average area is: {0}".format(numAreaColumn.mean()))
print("The whole area of all countries is: {0}".format(numAreaColumn.sum()))
indexOfMax = numAreaColumn.argmax()
print("The largest country ({0}) is {1}".format(numAreaColumn[indexOfMax], frame[columnNames[0]][indexOfMax]))

The average area is: 3907399.6
The whole area of all countries is: 19536998
The largest country (9984670) is Canada

In [169]:
#BIP data analysis
numBIPColumn = pandas.to_numeric(frame[columnNames[3]])
print("The average area is: {0}".format(numBIPColumn.mean()))
indexOfMax = numBIPColumn.argmax()
print("The wealthiest country ({0}) is {1}".format(numBIPColumn[indexOfMax], frame[columnNames[0]][indexOfMax]))

The average area is: 2716.2
The wealthiest country (4938) is Japan

In [170]:
#Last 4 rows
count = frame.shape[0]
frame.iloc[count-4:count]

    Country     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [171]:
#Rows of countries using Euro

filteredFrame = frame.where(frame[columnNames[4]] == "EUR", other="")
filteredFrame = filteredFrame.loc[filteredFrame[columnNames[0]]!= ""]
filteredFrame

   Country    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [172]:
#Rows of countries using Euro (only name and currency column)
filteredFrame[[columnNames[0], columnNames[4]]]

   Country Currency
0  Germany      EUR
3    Italy      EUR

In [173]:
#Rows of countries with BIP > 2000
filteredFrame = frame.where(numBIPRow > 2000, other="")
filteredFrame = filteredFrame.loc[filteredFrame[columnNames[0]]!= ""]
filteredFrame

   Country     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [174]:
#Rows of countries with inhabitants between 50 and 150 Mio.
filter = (numPeopleColumn > 50000000) & (numPeopleColumn < 150000000)
filteredFrame = frame.where(filter, other="")
filteredFrame = filteredFrame.loc[filteredFrame[columnNames[0]]!= ""]
filteredFrame

   Country     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

In [175]:
#Renaming BIP column
frame.rename(columns={columnNames[3]:'Bip'}, inplace=True)
np_columnNames = numpy.array(columnNames)
columnNames = numpy.where(np_columnNames==columnNames[3], "Bip", np_columnNames) 
frame

    Country     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [176]:
#Bip sum
print("The sum of bip in these countries is: {0} Billion".format(numBIPColumn.sum()))

The sum of bip in these countries is: 13581 Billion

In [177]:
#Average people count: see first cell
#Sort alphabetically
frame.sort_values(columnNames[0])

    Country     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [178]:
#Replacing area cells with BIG or SMALL
areaReplaced = numAreaColumn.where(numAreaColumn > 1000000, "BIG").where(numAreaColumn < 1000000, "SMALL")
frame.assign(Area=areaReplaced)

    Country     People   Area   Bip Currency
0   Germany   82521653    BIG  3466      EUR
1     Japan  126045000    BIG  4938      YEN
2    Canada   36503097  SMALL  1529      CAD
3     Italy   60501718    BIG  1850      EUR
4  Brazilia  208360000  SMALL  1798     REAL